
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma";

// Modules
@import "modules/nav";
@import "modules/hero";
@import "modules/blog";
@import "modules/projects";

// Components
@import "components/horizontal-dl";
@import "components/section-marker";

// current inspiration: http://previews.aspirity.com/danny/

a {
	// color: #ee3897;
	color: $info;

	&:hover {
		// color: #ee3897;
		color: $info;
		text-decoration: underline;
	}
}

