nav.nav {

    .nav-item {
        color: $blue;
    }

    .nav-left {

        .title {
            text-align: left;
        }

        a {
            color: default;
            &:hover {
                color: default;
                text-decoration: none;
			      }
		    }

    }

    .nav-toggle {
        &.is-active {
            span {
                background-color: $blue;
            }
        }
    }
}

