.projects {
    figure {
        overflow: hidden;

        figcaption {
            position: absolute;
            bottom: 1rem;
            background-color: rgba(255, 255, 255, 0.8);
            width: 100%;
            padding: 1rem 0 1rem 1rem;
        }

        img {
            transition: all 0.3s ease;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            figcaption {
                color: $turquoise ;
            }
        }
    }
}
